body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.clock-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  font-family: Orbitron;
  font-size: 85px;
  color: #93FF8A;
}
